@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  position: relative;
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: #000;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

.selected::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;

  transition: transform 0.4s ease-in-out;
}

.link:hover::before {
  transform: scaleX(1);
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(102, 102, 102);
  outline: 0.5px solid rgb(255, 255, 255);
}
